.headcontent{
	height: auto;
	width: 100vw;
}

.headcap{

	font-size: 4em;
}

.hcontent{
	font-size: 1.5rem;
	padding-right:200px;
	padding-left: 200px;
	line-height: 1.5;
	text-align: justify;
	padding-bottom: 130px;


}

.text
{
	font-size: 4em;
	color: orange;

}



.main-holder{
	display: flex;
	background-color: #1b598a;
	justify-items: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

.zbox{
	background-color: #1b598a;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 80px;
	padding-left: 80px;
	color: white;
	box-sizing: border-box;
	 display: flex;
            flex-direction: column;
            align-items: center;
}
 .zbox i {
            font-size: 2em;
            margin-bottom: 10px;
            color: orange; /* Icon color inside the circle */
            background-color: white; /* Background color for the icon */
            padding: 15px;
            border-radius: 50%;
             width: 50px; /* Width and height for a perfect circle */
            height: 50px; 
            display: flex;
            align-items: center;
            justify-content: center;/* Perfect circle */
        }

 .zbox:nth-child(even) {
            background-color: #3b79aa;
        }

        .zbox:nth-child(even) i {
            background-color: #fff; /* Background color for the icon */
            color: #3b79aa; /* Icon color inside the circle */
        }

 .zbox p {
            margin: 5px 0;
        }
 .first-services{
	border-bottom: 10px solid orange;
	padding-bottom: 190px;
	
}
              
.holder-services{
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	grid-gap: 20px;

}
.serbox-1{
	height: 300px;
	width: 320px;
	border: 1px solid gray;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;

}

.serbox-1:hover {
    transform: translateY(-10px);
    border: 3px solid #1b598a;

}

.sercap{
	font-size: 1.5em;
	font-weight: bold;
	 background: orange;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding-left: 10px;
    text-align: left;
    padding-top: 5px;

}





.title{
	font-weight: bold;
	font-size: 24px;
	color: white;
	background-color: orange;
	padding: 10px 20px 10px 20px;
	border-radius: 12px;
}
.title:hover{
	color: #1b598a;
}
a{
	text-decoration: none;
}

.caption{
	font-size: 34px;
	color: orange;
	}
.contacts{
	background-color: orange;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;

}
.icon{
	color: orange;
	font-size: 24px;
}
.icon:hover{
	color: white;
}

.second-content{
	background-color: #1b598a;


}

.holder-2 {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap */
    gap: 6px; /* Space between boxes in Flexbox */
    text-align: justify; 
    /* Aligns text within the boxes */
    padding: 60px;
   
}

.box-2 {
    flex: 1; /* Allows the boxes to grow and shrink as needed */
    min-width: 200px; /* Sets a minimum width for each box */
    padding: 20px;
    box-sizing: border-box; /* Includes padding and border in the box’s total width and height */
    overflow: hidden; /* Hides overflow */
}

.abox {
    flex: 2; /* Takes twice the space compared to .bbox */
}

.bbox {
    flex: 1; /* Takes half the space compared to .abox */
}

@media (max-width: 768px) {
    .holder-2 {
        flex-direction: column; /* Stacks the boxes vertically on smaller screens */
    }
}


.pic2 {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.cap2{
	color: orange;
	font-size: 3em;
	font-weight: bold;
	

}
.cap3{
	color: #fff;
	font-size: 1.5em;
	overflow: hidden;
	
}
.cap4{
	color: #fff;
	font-size: 1.3em;
	

}
.phone-number{
	color: orange;
}
.btn{
	font-size: 14px;
	padding: 20px;
	font-weight: bold;
	background-color: #17a2b8;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}



.zooming-text {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust space between letters */
}

.letter {
    display: inline-block;
    font-size: 2rem; /* Adjust font size as needed */
    animation: zoom 5s infinite; /* Loop the animation indefinitely */
    transform-origin: center; /* Scale from the center */
}

/* Keyframes for the zoom animation */
@keyframes zoom {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5); /* Zoom in */
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

/* Add delays to each letter to create a cascading effect */
.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 1.5s;
}

.letter:nth-child(3) {
    animation-delay: 3.5s;
}

.letter:nth-child(4) {
    animation-delay: 5.5s;
}

.letter:nth-child(5) {
    animation-delay: 7s;
}

/*  third content section*/

.third-content{
display: flex; /* Enables Flexbox layout */
flex-direction: column;
align-items: center;
justify-content: center;
padding: 200px 0px 170px 0px;


}

.letter{
	color: orange;
}

.third-text{
	font-size: 8em;
	font-weight: bold;
}
.third-cap{
	font-size: 2em;
	
}
.doctor{
	font-size: 60px;
	font-weight: bold;
	color:#1b598a ;
}
.nurses{
	color: orange;
}
.today{
	color:#1b598a ;
}

.fifth{
	padding-top: 100px;
	padding-bottom: 80px;
	border-bottom: 20px solid orange;
	
}

.holder-4 {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap */
    gap: 6px; /* Space between boxes in Flexbox */
    text-align: justify; 
    /* Aligns text within the boxes */
    padding: 60px;
   
}

.box-3{
	flex: 1; /* Allows the boxes to grow and shrink as needed */
    min-width: 200px; /* Sets a minimum width for each box */
    padding: 20px;
    box-sizing: border-box; /* Includes padding and border in the box’s total width and height */
    overflow: hidden;
}
.b3{
	 border-left: 2px solid orange;
}
.b4{

    border-right: 2px solid orange;

}
.vs{
	font-size: 46px;
	font-weight: bold;

}
.vscap{
	font-size: 1.5em;
}
.six{
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 20px solid orange;
	background-color: #1b598a;
	color: white;
	padding-left:100px;
	padding-right: 100px;
	
}
.go{
	line-height: 2;
}


.holder-5 {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap */
    gap: 6px; /* Space between boxes in Flexbox */
    text-align: justify; 
    /* Aligns text within the boxes */
    padding: 60px;
}

.ft-box {
    display: flex; /* Make .ft-box a flex container */
    flex: 1; /* Allows the boxes to grow and shrink as needed */
    min-width: 200px; /* Sets a minimum width for each box */
    box-sizing: border-box; /* Includes padding and border in the box’s total width and height */
    overflow: hidden;
    flex-direction: column; /* Arrange content in rows */
}

.ft-box img.logo {
    margin-right: 10px; /* Adjust as necessary for spacing */
}

.ft-box a {
    display: block; /* Ensures links are displayed as blocks within the flex container */
    margin-right: 10px;
     /* Adjust spacing between links as necessary */
     padding-bottom: 14px;
     color: black;
}

.ftcap{

	font-weight: bold;
	font-size: 20px;
	color: #1b598a;

}

.ft-box i{
	padding-right: 10px;
	font-size: 24px;
}

.fmcap{
	font-weight: bold;
	color: orange;
}
.fmtext{
	font-size: 14px;
}

.holder-7 {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap */
    gap: 6px; /* Space between boxes in Flexbox */
    text-align: justify; 
    /* Aligns text within the boxes */
    padding: 60px;
   
}

.box-7{
	flex: 1; /* Allows the boxes to grow and shrink as needed */
    min-width: 200px; /* Sets a minimum width for each box */
    padding: 20px;
    box-sizing: border-box; /* Includes padding and border in the box’s total width and height */
    overflow: hidden;
}
.seven{
	border-bottom: 2px solid orange;
}






